.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
  position: relative;
  height: fit-content;
}

.input {
  width: 100%;
  height: 3.25rem;
  border-radius: 10px;
  background-color: #323232;
  color: white;
  font-size: 1.5rem;
  border: 3px solid transparent;
  position: relative;
  border: 3px solid #888888;
}

.valid {
  border: 3px solid #00ff00;
}

.invalid {
  border: 3px solid #ff0000;
}

.result {
  position: absolute;
  top: 4rem;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  background-color: #323232;
  color: white;
  font-size: 1.5rem;
}

.copy {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 10px 10px 0;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../styles/assets/images/copy.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5rem;
  height: 100%;
  width: 3rem;
  border: 3px solid transparent;
  transition: all 0.2s ease-in-out;
}

.copy.show {
  animation: background-change 3s ease normal;
}

@keyframes background-change {
  0% {
    background-position-y: center;
  }
  3.25% {
    background-position-y: top;
    opacity: 0;
  }
  7.5% {
    background-color: #33c533;
    background-position-y: bottom;
    opacity: 0;
    background-image: url("../styles/assets/images/check.svg");
  }
  15% {
    background-position-y: center;
    opacity: 1;
    background-image: url("../styles/assets/images/check.svg");
  }
  79% {
    background-color: #33c533;
  }
  85% {
    background-position-y: center;
    opacity: 1;
    background-image: url("../styles/assets/images/check.svg");
  }
  88.25% {
    background-position-y: bottom;
    opacity: 0;
  }
  91.5% {
    background-color: transparent;
    background-position-y: top;
    opacity: 0;
    background-image: url("../styles/assets/images/copy.svg");
  }
  100% {
    background-position-y: center;
    opacity: 1;
    background-image: url("../styles/assets/images/copy.svg");
  }
}

.copy:hover {
  border: 3px solid #888888;
  background-color: #000000;
}
